<!--자기자신의 라운지-->
      <% if user_signed_in? %>
        <%= current_user.email %>님의 라운지
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "로그인", new_user_session_path %>
      <% end %>
  
        아직 프로필이 등록되지 않았어요! => <a href="/posts/new">프로필 등록하러 가기</a></br>
        <a href="/make_friends/new">솔로친구 등록하기</a>
  